# CLÉS SECRÈTES ET PUBLIQUES À DÉFINIR SUR LA PLATEFORME DE DÉPLOIEMENT
FLASK_SECRET_KEY=VOTRE_CLÉ_SECRÈTE_UNIQUE_ICI
SUPABASE_URL=https://ltsdxhvivevjyjytkpwl.supabase.co
SUPABASE_ANON_KEY=VOTRE_CLÉ_ANON_ICI
